<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Dhanush's Portfolio</title>
</head>

<body>

    <div class="whole">

        <div class="infobody">
            <img id="profilephoto" src="images/me.jpeg"> 
            <h1>Hi, I'm Dhanush</h1>
            <p>Undergrad Student at Psg College Of Technology, Learning Full Stack, Open to collaborate with people in doing fun projects.</p>
        </div>

        <div class="about">
            <h2>About</h2>
            <p>I am Dhanush, a friendly, hardworking, and persistent individual who is always eager to learn new things. I am currently learning to code and I am passionate about technology. I am also a creative thinker and I am always looking for new ways to solve problems.</p>
        </div>

        <div class="edu">
            <h2>Education</h2>

            <a><div class="eduone">
                <img src="images/psg.png">
                <div class="eduinfo">
                    <h3>PSG College of&nbspTechnology</h3>
                    <p>Bachelor of Technology - Information Technology (2023 - 2027)</p>
                    
                </div>
            </div></a>

            <div class="eduone">
                <img src="images/iitm.jpeg">
                <div class="eduinfo">
                    <h3>Indian Institute of Technology, Madras</h3>
                    <p>BS Data Science (Online Degree) - Foundation Level (2024 - 2025)</p>
                    
                </div>
            </div>

            <div class="eduone">
                <img src="images/csa.jpeg">
                <div class="eduinfo">
                    <h3>CS Academy, Erode</h3>
                    <p>HSC (2021 - 2023)</p>
                    <p>Mathematics, Physics, Chemistry, English, Psychology</p>
                </div>
            </div>

            <div class="eduone">
                <img src="images/csa.jpeg">
                <div class="eduinfo">
                    <h3>CS Academy, Erode</h3>
                    <p>SSC (2018 - 2021)</p>
                    <p>Mathematics, Science, Social Science, English, Tamil</p>
                </div>
            </div>

        </div>

        <div class="skills">
            <h2>Skills</h2>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>NodeJS</li>
                <li>ExpressJS</li>
                <li>Axios</li>
                <li>Python</li>
            </ul>
        </div>

        <div id="proj">
            <h2>Projects</h2>
            <div class="projects">

                <a href="#"></1><div class="aproject">
                    <h3>Weather Forcast</h3>
                    <img src="images/Weathering.jpeg">
                    <p>HTML, CSS, JavaScript, NodeJS, ExpressJS, Axios</p>
                </div></a>

                <a href="https://basic-code-editor-eight.vercel.app/"><div class="aproject">
                    <h3>Online Basic Text Editor</h3>
                    <img src="images/Codepen.png">
                    <p>HTML, CSS, JavaScript</p>
                </div></a>

                <a href="https://dhanush-portfolio-eta.vercel.app/"><div class="aproject">
                    <h3>Personal Portfolio</h3>
                    <img src="images/port.png">
                    <p>HTML, CSS</p>
                </div></a>

                <a href="https://finverse-seven.vercel.app/#"><div class="aproject">
                    <h3>Finverse Landing Page</h3>
                    <img src="images/finverse.png">
                    <p>HTML, CSS, JavaScript</p>
                </div></a>

            </div>
        </div>

        <div id="z">
            <div class="bar">
                <span id="foot">
                    <a href="https://www.linkedin.com/in/loopingdhanush/"><img src="images/linkedin.png"></a>
                    <a><img src="images/insta.png"></a>
                    <a><img src="images/blog.png"></a>
                </span>
            </div>
        </div>
    </div>    

    

</body>

</html>